<style>
  .back-to-top {
    position: fixed !important;
    bottom: 268px;
    right: 30px;
    text-decoration: none;
    color: #8d8d8d;
    background-color: #eee;
    font-size: 16px;
    padding: 0;
    z-index: 98;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #scrollToTop.back-to-top svg {
    width: 17px;
    height: 17px;
    position: relative;
    z-index: 99;
    margin: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .btn--circle-arrow:after {
    background: #e7e7e7;
  }
  .btn:after {
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
    content: '';
    position: absolute;
  }

  .btn:not([disabled]):hover:after {
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
  }
</style>
<!-- scroll-btn -->
<div id="scrollToTop" href="#" title="Back to the top" class="back-to-top btn btn--circle-arrow">
  <svg
    t="1701102469530"
    class="icon"
    viewBox="0 0 1024 1024"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    p-id="4246"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="200"
    height="200"
  >
    <path d="M959.232307 517.85431l0-30.384008-30.386276 0 0-30.384008-30.384229 0 0 30.384008L868.075516 487.470303l0 30.384008-30.384229 0 0-60.768015 30.384229 0 0-30.384008 30.385253 0 0-30.384008 30.384229 0 0 30.384008 30.386276 0 0 30.384008 30.384229 0 0 60.768015L959.232297 517.85431zM685.763994 487.469261l-91.153711 0 0 60.769039-60.771529 0L533.838754 335.549266l60.771529 0 91.153711 0 0 30.384008 30.386276 0 0 91.152023-30.386276 0L685.763994 487.469304zM655.378739 365.933261l-60.769482 0 0 91.152023 60.769482 0L655.378739 365.933273zM473.067213 548.238336l-151.926263 0L321.14095 517.854335l-30.384229 0 0-151.920038 30.384229 0 0-30.384008 151.926263 0 0 30.384008 30.386276 0 0 151.920038-30.386276 0L473.067213 548.238342zM442.681958 365.933261l-91.155758 0 0 151.920038 91.155758 0L442.681958 365.933273zM199.599923 548.238336l-60.770505 0L138.829418 365.933273 78.058948 365.933273l0-30.384008 182.311516 0 0 30.384008-60.770505 0L199.599959 548.238342z" p-id="4247"></path>
  </svg>
</div>
{{ 'scroll-to-top.js' | asset_url | script_tag }}
