<style>
  .back-to-top {
    position: fixed !important;
    bottom: 268px;
    right: 30px;
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #eee;
    font-size: 16px;
    padding: 0;
    z-index: 98;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }
  #scrollToTop.back-to-top svg {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 99;
    margin: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .btn--circle-arrow:after {
    background: #e7e7e7;
  }
  .btn:after {
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
    content: '';
    position: absolute;
  }

  .btn:not([disabled]):hover:after {
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
  }
</style>

<!-- scroll-btn -->
<div id="scrollToTop" href="#" title="Back to the top" class="back-to-top btn btn--circle-arrow">
  <svg
    t="1701104002811"
    class="icon"
    viewBox="0 0 1024 1024"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    p-id="13124"
    width="200"
    height="200"
  >
    <path d="M68.51072 606.95552h102.62016v261.9904h47.98464v-261.9904h102.61504v-47.96928H68.51072v47.96928z m517.8368-47.96928H459.24864a59.79648 59.79648 0 0 0-42.39872 17.5616 59.76064 59.76064 0 0 0-17.56672 42.39872v190.00832c0 15.36 5.85216 30.70976 17.56672 42.4192a59.82208 59.82208 0 0 0 42.39872 17.5616h127.104c15.33952 0 30.69952-5.8624 42.40896-17.5616a59.8016 59.8016 0 0 0 17.57184-42.4192v-189.98784c0-15.36-5.8624-30.70976-17.57184-42.4192a59.8016 59.8016 0 0 0-42.41408-17.5616z m12.00128 249.96864c0 2.26816-0.60928 5.59104-3.50208 8.4992a11.8272 11.8272 0 0 1-8.48896 3.51232H459.24864a11.75552 11.75552 0 0 1-8.4736-3.51232 11.82208 11.82208 0 0 1-3.51744-8.4992v-189.98784c0-2.26816 0.6144-5.59104 3.51744-8.4992a11.776 11.776 0 0 1 8.4736-3.51232h127.104c2.26816 0 5.59104 0.60928 8.47872 3.51232 2.89792 2.90816 3.52256 6.23104 3.52256 8.4992v189.98784h-0.00512z m346.81344-232.41216a59.8528 59.8528 0 0 0-42.4192-17.5616H738.2528v309.94944h47.97952V732.9792h116.51072c15.36 0 30.70976-5.85216 42.4192-17.5616s17.5616-27.0592 17.5616-42.39872v-54.08256a59.81696 59.81696 0 0 0-17.5616-42.3936z m-30.42304 96.48128c0 2.26816-0.60928 5.5808-3.51232 8.47872s-6.2208 3.51232-8.47872 3.51232h-116.51072v-78.05952h116.51072c2.26816 0 5.5808 0.60928 8.47872 3.51232 2.89792 2.90816 3.51232 6.23104 3.51232 8.4992v54.05696zM294.23616 351.70816C356.4032 295.69024 503.95648 162.7648 508.53376 158.72c5.8112-5.12512 12.85632-4.49536 17.28512-0.4352 3.0976 2.8416 156.40064 140.8768 215.9616 194.5088 9.3696 7.90016 6.89152 23.41888-4.87936 23.41888s-426.71616 0.11264-434.14528 0c-7.43424-0.1024-16.88576-14.01856-8.51968-24.50432z" p-id="13125"></path>
  </svg>
</div>
{{ 'scroll-to-top.js' | asset_url | script_tag }}
