{{ 'z-countdown.css' | asset_url | stylesheet_tag }}
<script src="{{ 'z-countdown.js' | asset_url }}" defer></script>
<div class="z-countdown" data-end-time="{{ endTime }}">
  <div class="z-countdown-text">Summer Flash Sale With Gift Box:</div>
  <div class="time-box" style="display: flex;gap: 10px;">
    <div>
      <span class="z-days time-num"></span>
      <span class="time-text">DAYS</span>
    </div>
    <div>
      <span class="z-hours time-num"></span>
      <span class="time-text">HRS</span>
    </div>
    <div>
      <span class="z-minutes time-num"></span>
      <span class="time-text">MIN</span>
    </div>
    <div>
      <span class="z-seconds time-num"></span>
      <span class="time-text">SEC</span>
    </div>
  </div>
</div>
